/* 全局字体 */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
  }
  
  /* 文档内容字体 */
  .content {
    font-family: 'Fira Code', serif;
  }
  
  /* 标题字体 */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Code', sans-serif;
    font-weight: bold;
  }
  
  /* 导航栏字体 */
  .sidebar .app-name,
  .sidebar-nav {
    font-family: 'Fira Code', monospace;
  }
  